@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .absCenter {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }

  .absCover {
    @apply absolute top-0 left-0 w-full h-full;
  }

  .flexCenter {
    @apply flex items-center justify-center;
  }

  .fixedCenter {
    @apply fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }

  .coverImage {
    @apply bg-cover bg-center;
  }

  .centerH {
    @apply absolute left-1/2 -translate-x-1/2;
  }

  .centerV {
    @apply absolute top-1/2 -translate-y-1/2;
  }

  .button {
    @apply bg-buttonBg text-white font-semibold px-4 py-2 rounded-lg text-xl
  }

  .mainTitle {
    @apply text-white text-[54px] font-normal
  }

  .sectionTitle {
    @apply text-[32px]
  }

  .heroLayer {
    @apply bg-gradient-to-t to-heroLayerColorEnd from-heroLayerColorStart from-[50%];
  }

  .regularLayer {
    @apply bg-gradient-to-b from-regularLayerStart from-10% to-regularLayerEnd to-50%;
  }

  .saveSpace {
    @apply px-[120px]
  }
}



/* .col-span-2 {
  grid-column: span 2 / span 2;
} */

html {
  scroll-behavior: smooth !important;
  max-width: 100vw;
  overflow-x: clip;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

input:focus {
  outline: none;
}

.notificationMessage {
  @apply fixed top-4 right-4 flex items-center gap-2 px-6 py-3 rounded-lg shadow-lg text-white animate-fadeInRight;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Cairo Variable", sans-serif !important;
}

.loader {
  width: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #ffa516 94%, #0000) top/8px 8px no-repeat,
    conic-gradient(#0000 30%, #ffa516);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: l13 1s infinite linear;
}

/* Number Input Remove arrows */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Chrome, Edge and Safari */
.scrollbarCustom::-webkit-scrollbar {
  height: 2px;
  width: 2px;
}

.scrollbarCustom::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #dfe9eb;
}

.scrollbarCustom::-webkit-scrollbar-track:hover {
  background-color: #dfe9eb;
}

.scrollbarCustom::-webkit-scrollbar-track:active {
  background-color: #dfe9eb;
}

.scrollbarCustom::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #faa82c;
}

.scrollbarCustom::-webkit-scrollbar-thumb:hover {
  background-color: #faa82c;
}

.scrollbarCustom::-webkit-scrollbar-thumb:active {
  background-color: #faa82c;
}

.layout {
  width: 100%;
}